---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Text from "../components/Text.astro";
---

<MainLayout title="Titel">
	<article>
		<div class="relative grid grid-cols-1 md:grid-cols-2 gap-4">
			<img src="/mig.webp" alt="mig" class="w-70 mx-auto my-8 pb-10 md:me-10 md:w-100 animate-fade-right animate-once animate-duration-[2000ms] animate-normal" />
			<h3 class="absolute top-82 left-57 text-primary-brown md:text-3xl tracking-widest font-thin md:left-249 md:top-105 animate-fade-left animate-duration-[2000ms] animate-normal">DIGITAL DESIGNER</h3>
			<h1 class="absolute top-90 left-10 text-2xl text-primary-brown md:left-150 md:top-120 md:text-5xl animate-fade-left animate-duration-[2000ms] animate-normal">ASTRID KOFOED CHRISTENSEN</h1>
			<div class="absolute top-89 left-49 w-47 h-[2px] bg-primary-brown md:w-90 md:left-230 md:top-116"></div>
		</div>

		<div class="relative bg-primary-orange py-8 w-full max-w-4xl ml-auto border-2 border-primary-brown p-6 md:p-30 animate-fade animate-once animate-duration-[2000ms] animate-normal">
			<h2 class="text-2xl px-8 pb-4 text-primary-brown md:text-4xl tracking-widest">LIDT OM MIG</h2>

			<Text teksttype="brødtekst">Multimediedesign-studerende på KEA med speciale i Digital Design. Jeg arbejder kreativt og tænker gerne ud af boksen for at finde unikke løsninger. Farver er et af mine stærkeste værktøjer, som jeg bruger til at skabe harmoni og visuel sammenhæng. Jeg fordyber mig i hele designprocessen og henter ofte inspiration i naturen og hverdagen omkring mig.</Text>
		</div>
		<!-- <div>
			<h2>SKILLS & TOOLS</h2>
			<p>REDESIGN</p>
			<p>GRAFISK DESIGN</p>
			<p>UI/UX</p>
			<p>WEBDESIGN</p>
			<p>KREATIV PROBLEMLØSNING</p>
			<img src="/public/ai.png" alt="ai" />
			<img src="/public/ps.png" alt="ps" />
			<img src="/public/pr.png" alt="pr" />
			<img src="/public/figma.png" alt="figma" />
			<img src="/public/vs.png" alt="" />
		</div> -->
	</article>
</MainLayout>
